[core]
    editor = vim
	excludesfile = /Users/Fan/.gitignore_global
[user]
	name = Fan Zhang
	email = bl4ck5unxx@gmail.com

[color]
    ui = auto
[alias]
	st = status
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
