[core]
    editor = vim
	autocrlf = input
[user]
	name = Fan Zhang
	email = bl4ck5unxx@gmail.com
	signingkey = 8D50C5731BFBA59D8B88F637487882CA29A9D8EB

[color]
    ui = auto
[alias]
	st = status
[push]
	default = simple
[merge]
	tool = vimdiff
[clangFormat]
	style = file
