[core]
    editor = vim
    autocrlf = input
[user]
	name = Fan Zhang
	email = bl4ck5unxx@gmail.com
	signingkey = 01F5F87BFB08EAAA4651A18614BBA8582ECB43AF
[color]
    ui = auto
[alias]
	st = status
	latexdiff = difftool -t latexdiff
[push]
	default = simple
[merge]
	tool = vimdiff
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[clangFormat]
	style = file
[pull]
	rebase = false
#[commit]
#	gpgsign = true
[difftool "latexdiff"]
	cmd = git-latexdiff-helper \"$LOCAL\" \"$REMOTE\"
