#include "./.Xresources.d/gruvbox-dark.xresources"
#include "./.Xresources.d/gruvbox-urxvt256.xresources"

URxvt.urgentOnBell: off
URxvt.visualBell: off
URxvt.iso14755: off
URxvt.iso14755_52: off
URxvt.depth: 32

URxvt.internalBorder: 0
URxvt.externalBorder: 0

URxvt.scrollBar: off
URxvt.saveLines: 1024
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true

URxvt.inheritPixmap: false
URxvt.fading: 0

URxvt.font: xft:Inconsolata for Powerline:pixelsize=15
URxvt.letterSpace: -1

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
